<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mysite.sbbpage.WordMapper">
    <select id="getWordList" resultType="com.mysite.sbbpage.Word">
        SELECT id, word FROM page_tb ORDER BY word DESC LIMIT #{size} OFFSET #{offset};
    </select>
    <select id="getWordById" resultType="com.mysite.sbbpage.Word">
        SELECT id, word FROM page_tb WHERE id = #{id}
    </select>
    <select id="countTotal" resultType="Integer">
		SELECT count(*) FROM page_tb
		<!-- count(*) : 해당 테이블(page_tb)에 모든 행을 세는 SQL함수 
		(*)은 모든 컬럼(렬)을 대상으로 한거지만 실질적으론 행의 개수만 반환 -->
	</select>
</mapper>